/* scrollbar */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'simplebar-react/dist/simplebar.min.css';

.react-tel-input .form-control:focus {
  border-color: #000000 !important;
  box-shadow: 0 0 0 1px #000000 !important;
}

.custom-map-autocomplete-input input {
  color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
